
<% if @city_employee > 7 %>
<p class="alert alert-danger">We are already over-crowded, please look for some other place</p>
<% else %>
<p class="alert alert-success">We can accommodate you in our office. Welcome!!!</p>
<% end %>